footer {
  background-color: var(--black);
  text-align: center;
  margin-block: 2rem;
}

footer > * {
  margin-top: 1rem;
}

footer p,
footer a {
  font-size: 1.3rem;
  color: var(--white);
}

footer a:where(:hover, :focus-visible) {
  text-decoration: underline;
}

.copyright {
  color: var(--white);
}
