.modal-container {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin-top: 5rem;
  margin-inline: 15%;
  min-height: 100dvh;
}

.closed {
  cursor: pointer;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media only screen and (max-width: 1100px) {
  .modal-container {
    margin-inline: 10%;
  }
}

@media only screen and (max-width: 840px) {
  .closed {
    width: 175px;
    height: 175px;
  }
}

@media only screen and (max-width: 660px) {
  .modal-container {
    margin-inline: 2%;
  }
}
