nav {
  background-color: var(--black);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 1rem;
}

.svg {
  width: 45px;
  height: 40px;
}

.hover {
  transition: 0.3s ease-out;
}

.hover:where(:hover, :focus-visible) {
  transform: perspective(50px) translateZ(5px);
}
