@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
  --white: #f7f7f7;
  --black: #030308;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html,
body {
  height: 100%;
  background-color: var(--black);
  font-family: 'Questrial', sans-serif;
  overflow-x: hidden;
}
